
/*Modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Modal Header */
.modal .modal-header {
    padding: 2px 5px;
    background-color: #3492d1;
    color: white;
    font-size: small;
  }
  
 /* Modal Body */
.modal .modal-body {padding: 27px 160px;}

/* Modal Footer */
.modal .modal-footer {
    padding: 2px 16px;
    background-color: #3492d1;
    color: white;
    text-align: right ;
}

  /* The Close Button */
.modal  .close {
    color: #aaa;
    float: right;
    font-size: 39px;
    font-weight: bold;
}
  
.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  

  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }